@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    font-family: "Poiret One", sans-serif;
    overflow: hidden;
    background: conic-gradient(from 60deg at 25% -20%,#e3dddb, #550aea, #f5cd04, #c4b703, #d0f615);
}

.container {
   
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitalClock {
    width: fit-content;
    margin: auto;
    padding: auto;
    border-radius: 6px;
    color: #fff;
    background-color:  rgba(0, 0, 0, 0.1 )
}

.digitalClock h1 {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 5rem;
}

@media(max-width:768px) {

    #bar1,
    #bar2 {
        display: none;
    }

    .digitalClock {
        text-align: center;
        width: 100%;
    }

    .digitalClock h1 {
        display: block;

    }

}
@media(max-width:480px){
    .digitalClock{
        font-size: 4rem;
    }
}


