.container{
width: 30%;
height: 100vh;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;
}
.image{
    display:none;
     }
     #prev{
        position: absolute;
        color: white;
       top: 43%;
        left:0;
        cursor: pointer;
        padding: 16px;
        font-weight: bold;
        font-size: 16px;
        transition: 0.6s ease;
        border-radius: 25px 10px 10px 25px ;
      

     }
     #next{
        position: absolute;
        color: white;
        top: 43%;
        right: 0;
        cursor: pointer;
        padding: 16px;
        font-weight: bold;
        font-size: 16px;
        transition: 0.6s ease;
        border-radius: 10px 25px 25px 10px ;
        user-select: none ;

     }
#prev:hover,#next:hover{

background-color: rgba(0, 0, 0, 0.5);
}

.dots{
    text-align: center;
    margin: 2%;
}
.dot{
height: 15px;
width: 15px;
background-color: #bbb;
display: inline-block;
cursor: pointer;
border-radius: 50%;
margin: 0 2px;
transition:background-color 0.6s ease;
}
.active{
    background-color: #e11212;
}
.fade{
    animation: fade 1.5s;
}
@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}
@media(max-width:760px){
    .container{
        width: 100%;
    }
}