body {
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
}

.container {

    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: whitesmoke;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    padding: 0 25px;
    font-size: 1rem;
    font-weight: 100;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.calculator input {

    box-sizing: border-box;
    width: 89%;
    padding: 8px;
    outline: none;
    border-radius:0 5px 5px 0;
    border: 1px solid lightgray;
    /* border-top-left-radius: 0;
    border-bottom-left-radius: 0; */
}

.calculator button {
    width: 9%;
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
      border-radius:5px 0 0 5px;
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
    background-color: whitesmoke;

}

.calculator button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#quality {
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

#tip-amount {

    visibility: hidden;
    min-width: 300px;
    margin: auto;
    background-color: limegreen;
    color: white;
    bottom: 30px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
}
/*js*/
#tip-amount.show {
 visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s  2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from { bottom: 0; opacity: 0;}
     to { bottom: 30; opacity: 1;}
}
@keyframes fadein {
    from { bottom: 0; opacity: 0;}
     to { bottom: 30; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from { bottom: 30; opacity: 1;}
     to { bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    
     from { bottom: 30; opacity: 1;}
     to { bottom: 0; opacity: 0;}
}
@media(max-width:480px){
    .calculator Input{
        width: 85%;
    }
        .calculator button{
            width: 13%;
        }
    }
    @media(max-width:320px){
        .calculator Input{
            width: 80%;
        }
          
        }
    