body{
    margin: 0;
    background-color:rgb(21, 21, 21);
}
#container{
    display: flex;
    justify-content: center;
    }
#main{
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid lightgray;
   width: 600px;
   height: auto;
   padding: 10px;
   margin-top: 300px;
   border-radius: 10px;
   box-shadow: 4px 8px 14px gold;
     /* background-color: rgb(21, 21, 21); */
   background-color: rgb(151, 125, 38)
    }
    #main:hover{
        transform: scale(1.1);
        transition: all 4s;
    }
    .header-warpper>h4{
margin: 15px;
font-family: Arial, Helvetica, sans-serif;
font-size:25px;
}
input{
padding: 5px;
margin: 0px 10px;
width: 120px;
}
select{
    padding: 5px;
}
span{
    display: block;
    text-align: center;
    margin-top: 20px;
}