* {
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
  background: #06BDC1;
  background: -webkit-radial-gradient(center, #06BDC1, #68469F);
  background: -moz-radial-gradient(center, #06BDC1, #68469F);
  background: radial-gradient(ellipse at center, #06BDC1, #68469F);
}
.app {
    width: 100%;
    margin: auto;
}

.quotes-container {
    width: 95%;
    height: 100vh;
    margin:5px auto;
    padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.inner-quotes-container{
height: 85%;
width: 95%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.inner-quotes-container p{
width: 95%;
height: auto;
margin: 200px;
text-align: center;
font-size: 2rem;
}
.inner-quotes-container h3{
width: 95%;
margin-bottom: 100px;
text-align: center;
font-size: 1,5 rem;
font-weight: bold;
}