
main {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 820px;
  }

.card-container { 
  /* filter: drop-shadow(-8px -10px 8px rgba(170, 11, 11, 0.2));
  border: 1px solid white;
  */
 /* margin-top: 40px; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */

}

.card-ilkay { 
  background-color: rgb(72, 72, 95);
  width: 500px;
  height: 680px;
  border-radius: 38px;
  box-shadow: 8px 8px 4px 4px gray;
  transform:skew(-5deg,10deg);
padding: 16px;
  text-align: center;
  transition: transform 0.3s;
  margin-right: 14px;
}

.card-ilkay:hover {
  transform: translateY(-10px);
}

.profile-img { 
  width: 120px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  border: 3px solid #4caf50;
}

.name { 
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 2px;
}

.birth {
  color: grey;
}

.skills {
  text-align: center;
}

.skills h4 {
  margin-bottom: 4px;
}
.skill {
  height: 28px;
}


.card-curved {
  --card-bg: rgb(52, 61, 68);
  --card-radius: 40px;
  --curve-radius: 48px;
  width: 500px;
  height: 680px;
  box-shadow: 8px 8px 4px 4px gray;
  transform: skew(-5deg,-10deg);
  padding:px;
  text-align: center;
  transition: transform 0.3s;
  background: var(--card-bg);
  overflow: hidden;
  border-radius: var(--card-radius);
  /* background-color: white;
  border-radius: 30px; */
  
}
/* --card-bg:white;
  --card-radius:30px;
  --curve-radius:48px; */
.card-curved:hover{
  transform: translateY(-10px);
}
.top {
  width: 100%;
  height: 550px;
  background: url(/ilkays_projectWebdesing/photos/Pehlivanoglu1.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bottom {
  position: relative;
  width: 100%;
  /* height: 200px; */
  /* margin-top: -38px; for minus Value *-1 */
  margin-top: calc(var(--curve-radius)*-1);
}
.content {
  padding: 20px;
  position: relative;
  z-index: 2;
}

.bottom::after,
.bottom::before {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--curve-radius);
  /* background: red; */
  z-index: 1;
}

.bottom::before {
  /* background: blue; */
  background: transparent;
  /* border-bottom-left-radius: 48px; */
  border-bottom-left-radius: var(--curve-radius);
  /* box-shadow: 0 38px 0 green; */
  box-shadow: 0 var(--curve-radius) 0 var(--card-bg);
  left: 0;
  bottom: 100%;
  height: calc(var(--curve-radius)*2);
  width: var(--curve-radius);
}

.bottom::after {
  /* background-color: red; */
  background-color: var(--card-bg);
  top: 0;
  right: 0;
  /* width: 50%; */
  border-top-right-radius: var(--curve-radius);
}
.image-lang{
  display: flex;
  justify-content: space-around;
}
 
 .lang {
  width: 40px;           
  height: 40px;          
  border: 2px solid #333; 
  overflow: hidden;       
  border-radius: 50%; 
  
}

@media screen and (max-width: 1200px){
  main{
    height: auto;
    padding: 20px 0;
  }
  .card-container{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .card-ilkay, .card-curved{
    width: 420px;
    height: auto;
    transform: none;
  }
  .top{
    height: 400px;
  }
}


@media  screen and (max-width: 768px) {
  .card-ilkay, .card-curved{
    width: 90%;
    transform: none;
    margin-right: 0;
  }
  .profile-img{
    width: 100px;
    height: 120px;
  }
  .name{font-size: 20px;}
   
  footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  
}
@media screen and (max-width:480px) {
  
  .card-ilkay, .card-curved{
    width:95%;
    transform: none;
    padding: 10px;
  }
  .top{
    height: 300px;
  }
  .profile-img{
  width: 85px;
  height: 100px;
  }
  .lang{
    width: 32px;
    height: 32xp;
  }
  .skills h4{
    font-size: 16px;
  }
}

.percent {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  
  width: 45px;
  height: 45px;
  border-radius: 50%;
  
  background-color:gray;
  color: wheat;
 

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: bold;
}
h4>small{
font: 16px sans-serif;
}



