/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    background-color: whitesmoke;

}

header {
    background-color: white;
}

button {
    
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;


}

button:hover {
    background-color: grey;

}
.container {
width: 95%;
margin: auto;

}

.nav {
   display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    background-color: white;

}
/* .nav button{
    font-family: inherit;
} */
.create-box{
    width: 380px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
box-shadow: 4px 8px 12px darkgray;
}
.create-box textarea{
width: 100%;
border-radius: 5px;
/* font-family: inherit; */
border: 1px solid lightgrey;
}
/* .create-box button{
width: -mozfit-content;

} */
/*javascript*/
.flashcards{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100%;
margin: auto;
margin-top: 10px;
padding: 0px 10px;

}
.flashcard{
width: 370px;
height: 200px;
word-wrap: break-word;
margin:10px;
background-color: rgb(167, 153, 153);
cursor: pointer;
position: relative;
box-shadow: 0 2px 4 px 0 rgba(0, 0, 0, 0.5);

}
.flashcard h2{
font-size: 1rem;
}
@media(max-width:768px){
    .flashcard{
    margin: auto;
    }
    .flashcard{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


@media(max-width:480px){ 
.nav{
flex-direction: column;
align-items: center;
}
    .create-box{
        width: 100%;
    }
    .flashcard{
        width: 100%;
    }
}






