@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
     font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
        width: 100%;
        background-color: black;
     }
  .container{
    border: 1px solid #00ff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px 14px goldenrod;
  }
  .hex-colors{

    border: 8px solid black;
    text-align: center;
  }
  .hex-colors h1{
font-size: 2rem;
text-transform: uppercase;
animation: changecolor 5s infinite alternate;
  }
  .hex-colors h4{
    border: 1px solid black;
    font-size: 2rm;
    margin: top 15%; ;
  }
  @keyframes changecolor{

0%
{
    color:blue
}
20%{
    color:indigo

}
40%
{
    color:#ed4e0f
}
60%{
    color:red
}
80%{
    color:yellow
}
100%{
    color:green
}
  }
  @media(max-width:480px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
    .hex-colors h2{
        font-size: 1,5rem;
    }
  }